# This script will prepare the tables for reads logo

In [1]:
import pandas as pd

## 1. smDNA logo and length distribution

In [7]:
reads = pd.read_csv('../logo/aligned.fastq', sep='\t', header=None)
reads.columns = ['fastq']

In [8]:
reads = reads.query('(index+3)%4 == 0')

In [10]:
reads['length'] = reads.apply(lambda x: len(x['fastq']),axis=1)

In [25]:
lengths = reads['length'].value_counts().reset_index().sort_values(by='index').reset_index(drop=True)
lengths.columns = ['length', 'number']
lengths['percent'] = lengths['number'] / (lengths['number'].sum()) * 100

In [27]:
lengths.to_csv('../logo/lengths.tsv', sep='\t', header=True, index=False)

In [28]:
reads_17 = reads.query('length >= 17')['fastq']

In [30]:
reads_17_list = []

for read in reads_17:
    reads_17_list.append(read[:17])
    
reads_17 = pd.DataFrame(reads_17_list)

In [32]:
reads_17.to_csv('../logo/logo.txt', index=False, header=False)

## 2. GC-content calculation

**Read a preformated alignment file**

In [2]:
reads = pd.read_csv('../logo/aligned.tsv', sep='\t', header=None)
reads.columns = ['flag', 'chr', 'position', 'sequence']
reads['length'] = reads.apply(lambda x: len(x['sequence']),axis=1)

In [3]:
plus_genome = reads.query('flag == 0 and chr != "plasmid"')
plus_genome['start_position'] = plus_genome['position']
print('the number of reads mapped to genome in positive orientation is', len(plus_genome))

the number of reads mapped to genome in positive orientation is 1118042

/tmp/ipykernel_30480/2624883778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus_genome['start_position'] = plus_genome['position']

In [4]:
plus_plasmid = reads.query('flag == 0 and chr == "plasmid"')
plus_plasmid['start_position'] = plus_plasmid['position']
print('the number of reads mapped to plasmid in positive orientation is', len(plus_plasmid))

the number of reads mapped to plasmid in positive orientation is 518985

/tmp/ipykernel_30480/2104207369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus_plasmid['start_position'] = plus_plasmid['position']

In [5]:
minus_genome = reads.query('flag == 16 and chr != "plasmid"')
minus_genome['start_position'] = minus_genome['position'] + minus_genome['length'] - 1
print('the number of reads mapped to genome in negative orientation is', len(minus_genome))

the number of reads mapped to genome in negative orientation is 1135303

/tmp/ipykernel_30480/2826149608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minus_genome['start_position'] = minus_genome['position'] + minus_genome['length'] - 1

In [6]:
minus_plasmid = reads.query('flag == 16 and chr == "plasmid"')
minus_plasmid['start_position'] = minus_plasmid['position'] + minus_plasmid['length'] - 1
print('the number of reads mapped to plasmid in negative orientation is', len(minus_plasmid))

the number of reads mapped to plasmid in negative orientation is 620499

/tmp/ipykernel_30480/1780695807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minus_plasmid['start_position'] = minus_plasmid['position'] + minus_plasmid['length'] - 1

**And now we will read and format genome and plasmid sequence files**

In [29]:
genome = pd.read_csv('../reference/genome.fa', sep='\t')
genome_name = genome.columns[0][1:12]
genome.columns = ['fasta']
plasmid = pd.read_csv('../reference/plasmid.fa', sep='\t')
plasmid.columns = ['fasta']

In [30]:
genome = str(genome['fasta'].sum()).upper()
plasmid = str(plasmid['fasta'].sum()).upper()

In [31]:
genome_length = len(genome)
plasmid_length = len(plasmid)

In [10]:
def GC_content(seq):
    GC_number = 0
    for N in seq:
        if N == 'C' or N == 'G':
            GC_number += 1
    return GC_number / len(seq) * 100

In [95]:
with open('../logo/total_plasmid_GC.txt', 'w') as ouf:
    ouf.write(str(GC_content(plasmid)))
    ouf.write('\n')

with open('../logo/total_genome_GC.txt', 'w') as ouf:
    ouf.write(str(GC_content(genome)))
    ouf.write('\n')

**GC-content**

In [11]:
plus_genome_logo = []

for start_position in plus_genome['start_position']:
    if start_position >= 16 and start_position <= (genome_length - 30):
        plus_genome_logo.append(genome[start_position - 16 : start_position + 29])

In [12]:
plus_plasmid_logo = []

for start_position in plus_plasmid['start_position']:
    if start_position >= 16 and start_position <= (plasmid_length - 30):
        plus_plasmid_logo.append(plasmid[start_position - 16 : start_position + 29])

In [13]:
def reverse_complement(seq):
    '''
    This function takes a string with dna sequence and returns a string with reverse complement sequence.
    '''
    reverse_seq = seq[::-1]
    dictionary = {'A': 'T', 'T': 'A', 'G': 'C', 'C': 'G'}
    reverse_complement_seq = str()
    for letter in reverse_seq:
        reverse_complement_seq += dictionary[letter]
    return reverse_complement_seq

In [14]:
minus_genome_logo = []

for start_position in minus_genome['start_position']:
    if start_position >= 30 and start_position <= (genome_length - 16):
        minus_genome_logo.append(reverse_complement(genome[start_position - 30 : start_position + 15]))

In [15]:
minus_plasmid_logo = []

for start_position in minus_plasmid['start_position']:
    if start_position >= 30 and start_position <= (plasmid_length - 16):
        minus_plasmid_logo.append(reverse_complement(plasmid[start_position - 30 : start_position + 15]))

In [16]:
genome_logo = plus_genome_logo + minus_genome_logo
plasmid_logo = plus_plasmid_logo + minus_plasmid_logo

In [17]:
genome_GC = []

for nucleotide in range(len(genome_logo[0])):
    position = str()
    for read in genome_logo:
        position += read[nucleotide]
    genome_GC.append(GC_content(position))

In [18]:
plasmid_GC = []

for nucleotide in range(len(plasmid_logo[0])):
    position = str()
    for read in plasmid_logo:
        position += read[nucleotide]
    plasmid_GC.append(GC_content(position))

In [27]:
positions = []
for i in range(-15, 0):
    positions.append(i)
for i in range(1, 31):
    positions.append(i)
positions

[-15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [21]:
GC = pd.DataFrame({'position': position, 'genome': genome_GC, 'plasmid': plasmid_GC})

In [22]:
GC.to_csv('../logo/GC_content.tsv', index=False, header=True, sep='\t')

In [23]:
GC

                                             position     genome    plasmid
0   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.671274  48.142934
1   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.322057  48.090510
2   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.526966  48.017080
3   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.154971  47.936854
4   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.217678  46.973878
5   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.146817  45.920351
6   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.677854  46.422094
7   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.616700  46.814221
8   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.338800  47.977452
9   GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  51.127400  48.304180
10  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.653301  48.373992
11  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  48.938902  46.719962
12  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.244761  48.520852
13  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  47.093985  47.291428
14  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  41.548804  39.324355
15  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  47.511235  46.528356
16  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.167142  47.326202
17  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  46.203390  46.480079
18  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  52.697790  49.987247
19  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  56.810155  53.980094
20  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  55.551394  50.817130
21  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  56.321500  51.437314
22  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  54.207203  48.832665
23  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.810180  46.281500
24  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  54.356405  51.798816
25  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  51.409827  48.592782
26  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.801627  49.057456
27  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.899926  49.825383
28  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  46.313583  48.214246
29  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  43.745335  45.722567
30  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  44.283606  44.286974
31  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  45.903078  45.142275
32  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  45.756983  43.338032
33  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.379217  47.522221
34  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  53.018826  50.529676
35  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  51.641840  48.749880
36  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  51.476928  50.945368
37  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.541111  48.284058
38  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.918565  48.280969
39  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.342383  46.206128
40  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.367767  47.369889
41  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.693032  48.774945
42  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.320992  48.620671
43  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  50.303640  48.532149
44  GCCGACAGTATGCTGATGCCCCAGGTGTAATCTAGCAGGGACGCCT...  49.543209  48.401793

In [32]:
genome_subset = genome[2000000:3000000]

In [33]:
chi_sequence = "GCTGGTGG"

In [34]:
plus_strand = []

for coordinate in range(len(genome_subset) - 8):
	if genome_subset[coordinate:(coordinate + 8)] == chi_sequence:
		plus_strand.append(coordinate + 2000000)

In [35]:
chr_name = []
interval_start = []
interval_end = []
interval_name = []

for coordinate in plus_strand:
    coordinate = coordinate - 10000
    step = 500
    interval_number = 1
    while interval_number <= 40:
        chr_name.append(genome_name)
        interval_start.append(coordinate)
        interval_end.append(coordinate + step)
        interval_name.append(interval_number)
        coordinate += step
        interval_number += 1

df = pd.DataFrame({'chr_name': chr_name, 'interval_start': interval_start, 'interval_end': interval_end, 'interval_name': interval_name})
#df.to_csv('plus_intervals.bed', header=False, index=False, sep='\t')

In [36]:
df

         chr_name  interval_start  interval_end  interval_name
0     NC_012971.2         2021004       2021504              1
1     NC_012971.2         2021504       2022004              2
2     NC_012971.2         2022004       2022504              3
3     NC_012971.2         2022504       2023004              4
4     NC_012971.2         2023004       2023504              5
...           ...             ...           ...            ...
1995  NC_012971.2         2930867       2931367             36
1996  NC_012971.2         2931367       2931867             37
1997  NC_012971.2         2931867       2932367             38
1998  NC_012971.2         2932367       2932867             39
1999  NC_012971.2         2932867       2933367             40

[2000 rows x 4 columns]

In [37]:
minus_strand = []

for coordinate in range(len(genome_subset) - 8):
	if genome_subset[coordinate:(coordinate + 8)] == reverse_complement(chi_sequence):
		minus_strand.append(coordinate + 2000000)

In [38]:
chr_name = []
interval_start = []
interval_end = []
interval_name = []

for coordinate in minus_strand:
    coordinate = coordinate + 10000
    step = 500
    interval_number = 1
    while interval_number <= 40:
        chr_name.append(genome_name)
        interval_start.append(coordinate)
        interval_end.append(coordinate + step)
        interval_name.append(interval_number)
        coordinate -= step
        interval_number += 1

df = pd.DataFrame({'chr_name': chr_name, 'interval_start': interval_start, 'interval_end': interval_end, 'interval_name': interval_name})
#df.to_csv('minus_intervals.bed', header=False, index=False, sep='\t')

In [39]:
df

         chr_name  interval_start  interval_end  interval_name
0     NC_012971.2         2020015       2020515              1
1     NC_012971.2         2019515       2020015              2
2     NC_012971.2         2019015       2019515              3
3     NC_012971.2         2018515       2019015              4
4     NC_012971.2         2018015       2018515              5
...           ...             ...           ...            ...
6835  NC_012971.2         2988611       2989111             36
6836  NC_012971.2         2988111       2988611             37
6837  NC_012971.2         2987611       2988111             38
6838  NC_012971.2         2987111       2987611             39
6839  NC_012971.2         2986611       2987111             40

[6840 rows x 4 columns]

In [39]:
plus_strand = []

for coordinate in range(len(genome) - 8):
	if genome[coordinate:(coordinate + 8)] == chi_sequence:
		plus_strand.append(coordinate)


minus_strand = []

for coordinate in range(8, len(genome)):
	if genome[coordinate:(coordinate + 8)] == reverse_complement(chi_sequence):
		minus_strand.append(coordinate)

In [44]:
def site_slice(coordinate_list, start, end):
    '''
    This function takes a list of coordinate and two numbers: start and end.
    It returns another list with those coordinates that fit in the interval [start:end].
    '''
    result_list = []
    for coordinate in coordinate_list:
        if start < coordinate < end:
            result_list.append(coordinate)
            
    return result_list

In [46]:
plus_strand = site_slice(plus_strand, 2000000, 3000000)

In [48]:
minus_strand = site_slice(minus_strand, 2000000, 3000000)